<div class="container">
  <div class="char_wrapper" *ngIf="dataComic">
    <div class="imageChar">
      <img src="{{dataComic.thumbnail.path}}/detail.{{dataComic.thumbnail.extension}}" alt="{{dataComic.title}}">
      <div class="target">
        <span class="name">
          <h2>{{dataComic.title}}</h2>
        </span>
        <p [innerHtml]="dataComic.description" class="desc"></p>
      </div>

    </div>



    <div class="lists">
      <div class="itemCharList" *ngIf="dataComic.characters.items.length>0">
        <h3>Characters List:</h3>
        <span>Available: {{dataComic.characters.available}}</span>
        <div class="itemsList">
          <span *ngFor="let character of dataComic.characters.items">
            <a
              routerLink="../../characters/{{character.resourceURI.substring(character.resourceURI.lastIndexOf('/') + 1)}}">{{character.name}}</a>

          </span>
        </div>
      </div>

      <div class="itemCharList" *ngIf="dataComic.creators.items.length>0">
        <h3>Creators List:</h3>
        <span>Available: {{dataComic.creators.available}}</span>
        <div class="itemsList">
          <span *ngFor="let creator of dataComic.creators.items">
            <a routerLink="../../creators/{{creator.resourceURI.substring(creator.resourceURI.lastIndexOf('/') + 1)}}">{{creator.role}}
              - {{creator.name}}</a>

          </span>
        </div>
      </div>

      <!-- <div class="itemCharList" *ngIf="dataComic.stories.items.length>0">
        <h3>Stories List:</h3>
        <span>Available: {{dataComic.stories.available}}</span>
        <div class="itemsList">
          <span *ngFor="let story of dataComic.stories.items">
            <a
              routerLink="../../stories/{{story.resourceURI.substring(story.resourceURI.lastIndexOf('/') + 1)}}">{{story.name}}</a>
          </span>
        </div>
      </div> -->

      <div class="itemCharList" *ngIf="dataComic.series">
        <h3>Series List:</h3>
        <span class="itemsList">

          <a
            routerLink="../../series/{{dataComic.series.resourceURI.substring(dataComic.series.resourceURI.lastIndexOf('/') + 1)}}">{{dataComic.series.name}}</a>

        </span>
      </div>
    </div>

    <div class="lists">
      <div class="itemCharList" *ngIf="dataComic.images.length>0">
        <h3>Images:</h3>
        <div class="itemsListImages">
          <div *ngFor="let img of dataComic.images">
            <img src="{{img.path}}/standard_xlarge.{{img.extension}}" alt="{{dataComic.title}}">
          </div>
        </div>
      </div>
    </div>

    <div class="attribution" *ngIf="data">
      <a href="http://marvel.com" target="_blank">{{data.attributionText}}</a>
    </div>

  </div>
</div>
