<div class="container">
  <div class="char_wrapper" *ngIf="dataSerie">
    <div class="imageChar">
      <img src="{{dataSerie.thumbnail.path}}/detail.{{dataSerie.thumbnail.extension}}" alt="{{dataSerie.title}}">
      <div class="target">
        <span class="name">
          <h2>{{dataSerie.title}}</h2>
        </span>
        <p [innerHtml]="dataSerie.description" class="desc"></p>
      </div>

    </div>

    <div class="lists">
      <div class="itemCharList" *ngIf="dataSerie.characters.length>0">
        <h3>Characters List:</h3>
        <span>Available: {{dataSerie.characters.available}}</span>
        <div class="itemsList">
          <span *ngFor="let character of dataSerie.characters.items">
            <a
              routerLink="../../characters/{{character.resourceURI.substring(character.resourceURI.lastIndexOf('/') + 1)}}">{{character.name}}</a>

          </span>
        </div>
      </div>

      <div class="itemCharList" *ngIf="dataSerie.comics.items.length>0">
        <h3>Comics List:</h3>
        <span>Available: {{dataSerie.comics.available}}</span>
        <div class="itemsList">
          <span *ngFor="let comic of dataSerie.comics.items">
            <a
              routerLink="../../comics/{{comic.resourceURI.substring(comic.resourceURI.lastIndexOf('/') + 1)}}">{{comic.name}}</a>
          </span>
        </div>
      </div>

      <!-- <div class="itemCharList" *ngIf="dataSerie.stories.length>0">
        <h3>Stories List:</h3>
        <span>Available: {{dataSerie.stories.available}}</span>
        <div class="itemsList">
          <span *ngFor="let story of dataSerie.stories.items">
            <a
              routerLink="../../stories/{{story.resourceURI.substring(story.resourceURI.lastIndexOf('/') + 1)}}">{{story.name}}</a>
          </span>
        </div>
      </div> -->

    </div>

    <!-- <div class="lists">
      <div class="itemCharList" *ngIf="dataSerie.images.length>0">
        <h3>Images:</h3>
        <div class="itemsListImages">
          <div *ngFor="let img of dataSerie.images">
            <img src="{{img.path}}/standard_xlarge.{{img.extension}}" alt="{{dataSerie.title}}">
          </div>
        </div>
      </div>
    </div> -->

    <div class="attribution" *ngIf="data">
      <a href="http://marvel.com" target="_blank">{{data.attributionText}}</a>
    </div>

  </div>
</div>
