.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .character {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 400px;
    background-color: black;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    float: left;
    transition: 300ms all;
    h2 {
      text-align: center;
      margin: 1rem;
      color: white;
      transition: 300ms all;
    }
    .img__wrapper {
      height: 200px;
      display: flex;
      overflow: hidden;
      img {
        object-position: top center;
        width: 100%;
        transition: 300ms all;
      }
    }
  }

  .character:hover {
    background-color: rgb(90, 21, 21);
    h2 {
      padding-bottom: 1rem;
    }
    img {
      transform: scale(1.1);
    }
  }
}
