<nav>
  <ul>
    <li>
      <a routerLink="/" class="menuItem">HOME</a>
    </li>
    <li>
      <a routerLink="characters" class="menuItem">Show Characters</a>
    </li>
    <li>
      <a routerLink="/comics" class="menuItem">Show Comics</a>
    </li>
    <li>
      <a routerLink="/series" class="menuItem">Show Series</a>
    </li>
    <!-- <li>
      <a routerLink="/stories" class="menuItem">Show Stories</a>
    </li> -->
  </ul>
</nav>

<div class="wrapper">
  <div class="insideWrapper">
    <router-outlet>

    </router-outlet>
  </div>
</div>
